@use "../../styles/typography" as typ;
@use "../../styles/colors";

.link {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-thickness: 0.15em;
  transition: text-decoration-color 0.3s;

  &:hover {
    color: colors.$ui1;
    text-decoration-color: colors.$ui1;
  }

  &.active {
    color: colors.$accent1;
    text-decoration-color: colors.$accent1;
  }
}
