@use "../../styles/typography" as typ;
@use "../../styles/colors";

.link {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 0.3s ease-in-out;

  &:hover {
    color: colors.$ui1;
    text-decoration-color: colors.$ui1;
  }

  &.active {
    color: colors.$accent1;
    text-decoration-color: colors.$accent1;
  }
}
