@use "../../styles/common.scss";

.pagination {
  & a,
  & span {
    @include common.text-body2;
    margin-right: 1.5rem;
  }

  & .disabled {
    @include common.text-body2;
    @include common.foreground-tertiary;
    cursor: not-allowed;
    text-decoration: none;
  }
}
