@use "../../styles/typography" as typ;
@use "../../styles/colors";

.pagination {
  @include typ.body2;

  & > span {
    margin: 0 1.5rem;
  }

  & > a.disabled {
    color: colors.$ui3;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: line-through;
  }
}
