@use "../../styles/common.scss";

.pagination {
  @include common.text-body2;

  & > span {
    margin: 0 1.5rem;
  }

  & > a.disabled {
    @include common.foreground-tertiary;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: line-through;
  }
}
