@import "../styles/common";

.title {
  @include text-h1;
  @include sm-and-down {
    @include text-h3;
  }
}

.meta {
  @include text-body;
  @include foreground-secondary;
  margin-bottom: 2.5rem;
  & > a {
    margin-right: 0.375rem;
    text-decoration: none;
    &::before {
      content: "#";
    }
  }
}
