@use "../../styles/typography" as typ;
@use "../../styles/colors";

.article {
  & > header {
    margin-bottom: 2.5rem;
  }

  & > header > div {
    display: flex;
    align-items: center;

    & > h1 {
      margin-right: auto;
      width: fit-content;
      @include typ.h2;
    }

    & > a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      @include typ.subtitle2;

      border: 2px solid colors.$ui1;
      &:hover {
        border-color: colors.$accent1;
      }
    }
  }

  & > header > p {
    @include typ.body1;
    color: colors.$ui2;
  }

  & > figure {
    text-align: center;
    margin-bottom: 2.5rem;

    .featured_image {
      box-shadow: 0 4px 10px fade-out(colors.$ui1, 0.8);
    }
  }

  & > footer {
    margin-top: 3.5rem;

    :global(.utterances) {
      max-width: 100%;
    }
  }
}
