// Breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin sm-and-up {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin md-and-up {
  @media (min-width: $md) {
    @content;
  }
}
@mixin lg-and-up {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin xl-and-up {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin sm-and-down {
  @media (max-width: calc($sm - 1px)) {
    @content;
  }
}
@mixin md-and-down {
  @media (max-width: calc($md - 1px)) {
    @content;
  }
}
@mixin lg-and-down {
  @media (max-width: calc($lg - 1px)) {
    @content;
  }
}
@mixin xl-and-down {
  @media (max-width: calc($xl - 1px)) {
    @content;
  }
}
