@import "./variables";

// Colors
@mixin foreground-primary {
  color: $theme-foreground-primary;
}
@mixin foreground-secondary {
  color: $theme-foreground-secondary;
}
@mixin foreground-tertiary {
  color: $theme-foreground-tertiary;
}
@mixin background-primary {
  background-color: $theme-background-primary;
}
@mixin background-secondary {
  background-color: $theme-background-secondary;
}
@mixin background-secondary {
  background-color: $theme-background-tertiary;
}

// Typography
@mixin text-h1 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
}
@mixin text-h2 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
}
@mixin text-h3 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.2;
}
@mixin text-h4 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
}
@mixin text-h5 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.2;
}
@mixin text-h6 {
  font-family: $header-font;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2;
}
@mixin text-body {
  font-size: 1.125rem;
  line-height: 1.5;
}
@mixin text-body2 {
  font-size: 1rem;
  line-height: 1.5;
}
@mixin text-caption {
  font-size: 0.875rem;
  line-height: 1.5;
}

// Breakpoints
@mixin sm-and-up {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin md-and-up {
  @media (min-width: $md) {
    @content;
  }
}
@mixin lg-and-up {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin xl-and-up {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin sm-and-down {
  @media (max-width: calc($sm - 1px)) {
    @content;
  }
}
@mixin md-and-down {
  @media (max-width: calc($md - 1px)) {
    @content;
  }
}
@mixin lg-and-down {
  @media (max-width: calc($lg - 1px)) {
    @content;
  }
}
@mixin xl-and-down {
  @media (max-width: calc($xl - 1px)) {
    @content;
  }
}

// Misc
@mixin hash-tag {
  &::before {
    content: "#";
  }
}
