@use "./variables" as var;

// Colors
@mixin foreground-primary {
  color: var.$theme-foreground-primary;
}
@mixin foreground-secondary {
  color: var.$theme-foreground-secondary;
}
@mixin foreground-tertiary {
  color: var.$theme-foreground-tertiary;
}
@mixin background-primary {
  background-color: var.$theme-background-primary;
}
@mixin background-secondary {
  background-color: var.$theme-background-secondary;
}
@mixin background-secondary {
  background-color: var.$theme-background-tertiary;
}

// Typography
@import "../../node_modules/rfs/scss";
@mixin text-h1 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(4rem);
  line-height: 1.25;
}
@mixin text-h2 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(3rem);
  line-height: 1.25;
}
@mixin text-h3 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(2.5rem);
  line-height: 1.25;
}
@mixin text-h4 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(2rem);
  line-height: 1.25;
}
@mixin text-h5 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(1.75rem);
  line-height: 1.25;
}
@mixin text-h6 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(1.5rem);
  line-height: 1.25;
}
@mixin text-subtitle1 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(1.25rem);
  line-height: 1.25;
}
@mixin text-subtitle2 {
  font-family: var.$header-font;
  font-weight: 800;
  @include font-size(1.125rem);
  line-height: 1.25;
}
@mixin text-body {
  font-family: var.$body-font;
  @include font-size(1.125rem);
}
@mixin text-body2 {
  font-family: var.$body-font;
  @include font-size(1rem);
}
@mixin text-caption {
  font-family: var.$body-font;
  @include font-size(0.875rem);
}
@mixin text-code {
  font-family: var.$code-font;
  @include font-size(1rem);
}

// Breakpoints
@mixin sm-and-up {
  @media (min-width: var.$sm) {
    @content;
  }
}
@mixin md-and-up {
  @media (min-width: var.$md) {
    @content;
  }
}
@mixin lg-and-up {
  @media (min-width: var.$lg) {
    @content;
  }
}
@mixin xl-and-up {
  @media (min-width: var.$xl) {
    @content;
  }
}

@mixin sm-and-down {
  @media (max-width: calc(var.$sm - 1px)) {
    @content;
  }
}
@mixin md-and-down {
  @media (max-width: calc(var.$md - 1px)) {
    @content;
  }
}
@mixin lg-and-down {
  @media (max-width: calc(var.$lg - 1px)) {
    @content;
  }
}
@mixin xl-and-down {
  @media (max-width: calc(var.$xl - 1px)) {
    @content;
  }
}

// Misc
@mixin hash-tag {
  &::before {
    content: "#";
  }
}
