@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&family=Source+Sans+Pro&display=swap');

$theme-accent-primary: #a3be8c;
$theme-accent-secondary: #739956;
$theme-foreground-primary: #4c566a;
$theme-foreground-secondary: #828997;
$theme-foreground-tertiary: #b7bbc3;
$theme-background-primary: #ffffff;
$theme-background-secondary: #f6f7fa;
$theme-background-tertiary: #eceff4;
$theme-divider: #cdcfd5;

$header-font: 'Inter', sans-serif;
$body-font: 'Inter', sans-serif;
$code-font: 'Fira Code', sans-serif;
