// Colors
:root {
  --theme-accent-primary: #a3be8c;
  --theme-accent-secondary: #739956;
  --theme-foreground-primary: #4c566a;
  --theme-foreground-secondary: #828997;
  --theme-foreground-tertiary: #b7bbc3;
  --theme-background-primary: #ffffff;
  --theme-background-secondary: #f6f7fa;
  --theme-background-tertiary: #eceff4;
  --theme-shadow: #4c566a24;
  --theme-divider: #cdcfd5;
}

$theme-accent-primary: var(--theme-accent-primary);
$theme-accent-secondary: var(--theme-accent-secondary);
$theme-foreground-primary: var(--theme-foreground-primary);
$theme-foreground-secondary: var(--theme-foreground-secondary);
$theme-foreground-tertiary: var(--theme-foreground-tertiary);
$theme-background-primary: var(--theme-background-primary);
$theme-background-secondary: var(--theme-background-secondary);
$theme-background-tertiary: var(--theme-background-tertiary);
$theme-shadow: var(--theme-shadow);
$theme-divider: var(--theme-divider);

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;800&family=Source+Sans+Pro&display=swap");
$header-font: "Inter", sans-serif;
$body-font: "Inter", sans-serif;
$code-font: "Fira Code", monospace;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
