body {
  word-wrap: break-word;
  letter-spacing: 0.5px;
  font-kerning: normal;
  font-family: var(--font-base);
  color: var(--fg1);
  background: var(--bg1);
}

code {
  font-family: var(--font-code);
}

a:visited,
a:link {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}
