body {
  word-wrap: break-word;
  letter-spacing: 0.5px;
  font-kerning: normal;
  font-family: var(--font-base);
  color: var(--ui1);
  background: var(--bg1);
}

code {
  font-family: var(--font-code);
}

a:visited,
a:link {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--accent1);
}
