@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Source+Sans+Pro&display=swap');

@import "./reset";
@import "./variables";
@import "./mixins";
@import "./markdown";

// * {
//   outline: 1px solid pink;
// }

html {
  font-size: 16px;
  font-family: $body-font;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  @include foreground-primary;
  background-color: $theme-background-primary;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

code {
  font-family: $code-font;
}

a:visited, a:link {
  color: inherit;
}
a:hover {
  color: $theme-accent-primary;
}
