@use "./reset";
@use "./typography" as typ;
@use "./colors";

// * {
//   outline: 1px solid pink;
// }

html {
  font-size: 18px;
  font-family: typ.$body-font;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  color: colors.$ui1;
  background-color: colors.$bg1;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

code {
  font-family: typ.$code-font;
}

a:visited,
a:link {
  color: inherit;
}
a:hover {
  color: colors.$accent1;
}
