@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro&display=swap');

:root {
    --theme-primary: #a3be8c;
    --theme-fg1: #4c566a;
    --theme-fg3: #69768f;
    --theme-fg4: #828997;
    --theme-bg1: #ffffff;

    --header-font: 'Inter', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;
}
