:root {
  /* Colors */
  --accent1: #9db2a4;
  --accent2: #6a877d;
  --ui1: #4c566a;
  --ui2: #828997;
  --ui3: #b7bbc3;
  --bg1: #fff;
  --bg2: #f2f4f8;
  --bg3: #eceff4;
  --box-shadow: #b8c2d780 0 3px 6px 0;
  --nord-green: #a3be8c;

  /* Fonts */
  --font-base: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  --font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace,
    "Segoe UI Emoji";

  /* Spacing */
  --spacing-3xs: 0.25rem;
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 2.5rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
}
