@import "../../styles/common";

.header {
  padding: 1rem 0;
  margin-bottom: 3rem;
  display: flex;
}

.title {
  @include text-h2;
  margin-right: 3.75rem;
  & > a {
    text-decoration: none;
  }
}

.nav {
  margin-top: 0.5rem;
  list-style: none;
}

.nav_item {
  @include text-h3;
  float: left;
  margin-right: 1rem;
  & > a {
    @include foreground-tertiary;
    text-decoration: none;
    &:hover {
      color: $theme-accent-primary;
    }
  }
}

.spacer {
  flex-grow: 1;
}
