@use "../../styles/breakpoints" as bp;
@use "../../styles/typography" as typ;
@use "../../styles/colors";

.header {
  display: flex;
  align-items: center;
  background-color: colors.$bg1;
  padding: 1.5rem 1rem;
  z-index: 2;

  @include bp.md-and-down {
    position: sticky;
    top: 0;
    padding: 1rem;

    &.show_shadow {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }

  a {
    text-decoration: none;
  }

  & > h1 {
    @include typ.h4;
    margin-right: 3.75rem;
  }

  & > nav {
    flex-grow: 1;
  }

  & > nav ul {
    @include bp.md-and-down {
      display: none;
    }

    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: inline-block;
      @include typ.h5;
      margin-left: 1rem;
    }
  }

  & > nav ul:nth-of-type(2) {
    float: right;
  }

  & > nav a:not(:hover) {
    color: colors.$ui2;
  }

  & > button {
    @include bp.md-and-up {
      display: none;
    }

    all: unset;
    @include typ.h5;
  }
}
