.header {
  background: var(--theme-bg1);
  padding: 0.875rem 0;
  margin-bottom: 3rem;
  display: flex;
}

.title {
  margin: 0 2.75rem 0 0;
  font-size: 32px;
  & > a {
    color: var(--theme-fg1);
  }
}

.nav {
  margin: 0.125rem 0 0 0;
  list-style: none;
}

.nav_item {
  float: left;
  margin: 0 1.0875rem 0 0;
  font-size: 24px;
  & > a {
    color: var(--theme-fg4);
  }
}

.header a {
  text-decoration: none;
}
