@use "../../styles/breakpoints" as bp;
@use "../../styles/typography" as typ;
@use "../../styles/colors";

.layout {
  margin: 0 auto;
  max-width: bp.$lg;

  & > main {
    margin: 3rem 0;
    padding: 0 1rem;
  }

  & > footer {
    @include bp.md-and-down {
      display: none;
    }

    @include typ.caption;
    color: colors.$ui2;
    margin: 8rem 1rem 0 1rem;
    padding: 1.5rem 0;
    border-top: 1px solid colors.$ui3;
    & > span {
      float: right;
    }
  }
}
