@import "../../styles/common";

.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  z-index: 2;
  padding: 1.5rem;
  @include background-primary;
  display: flex;
  flex-direction: column;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}

.close {
  margin-bottom: 3rem;
  @include text-h6;
  @include foreground-secondary;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  & .nav_item {
    @include text-h6;
    margin-bottom: 0.75rem;
  }
  & a {
    text-decoration: none;
  }
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75rem;
  & > .social_item {
    @include text-h6;
    @include foreground-secondary;
    margin-right: 0.75rem;
    float: left;
  }
}

.copyright {
  @include text-caption;
  @include foreground-secondary;
  border-top: 1px solid $theme-divider;
  padding-top: 1rem;
}

.spacer {
  flex-grow: 1;
}
