@use "../../styles/breakpoints" as bp;
@use "../../styles/typography" as typ;
@use "../../styles/colors";

.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  z-index: 4;
  padding: 1.5rem;
  background-color: colors.$bg1;
  display: flex;
  flex-direction: column;

  will-change: transform;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  &.show {
    transform: translateX(0);
  }

  & > button {
    all: unset;
    align-self: flex-end;
    margin-bottom: 1rem;
    @include typ.h5;
    color: colors.$ui2;
  }

  & ul {
    list-style: none;
    padding: 0;
  }

  & > ul.nav {
    margin: 0;

    & > li {
      @include typ.h5;
      margin-bottom: 0.75rem;
    }

    a {
      text-decoration: none;
    }
  }

  & > ul.social {
    margin: auto 0 0.75rem 0;

    & > li {
      display: inline-block;
      @include typ.h6;
      color: colors.$ui2;
      margin-right: 0.75rem;
    }
  }

  & > p {
    @include typ.caption;
    color: colors.$ui2;
    border-top: 1px solid colors.$ui3;
    padding-top: 1rem;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);

  will-change: display;
  &:not(.show) {
    display: none;
  }
}
