---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="404" description="Not Found">
  <h1>404: Not Found</h1>
</Layout>

<style lang="scss">
  h1 {
    font-size: 3rem;
  }
</style>
