---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="404">
  <main>
    <h1>404: Not Found</h1>
  </main>
</Layout>

<style lang="scss">
  main {
    margin: auto;
    width: 960px;
    max-width: 100%;
  }

  h1 {
    font-size: 3rem;
  }
</style>
