@use "../styles/common";

.hero {
  text-align: center;
  margin-bottom: 5rem;
}

.hero_text {
  @include common.text-h1;
  color: common.$theme-accent-primary;
  @include common.md-and-down {
    @include common.text-h2;
  }
}

.about {
  @include common.foreground-primary;
  @include common.text-body;
  margin-bottom: 4rem;
}

.detail {
  @include common.foreground-primary;
  @include common.text-body;
  margin-bottom: 4rem;

  & > h2 {
    @include common.text-h6;
    margin-bottom: 0.5rem;
  }

  & ul {
    list-style-position: inside;
    margin: 0;
    padding-left: 0.5rem;
  }
}
