@import "../styles/common";

.hero {
  text-align: center;
  margin-bottom: 5rem;
}

.hero_text {
  @include text-h1;
  color: $theme-accent-primary;
  @include sm-and-down {
    @include text-h2;
  }
}

.about {
  @include foreground-primary;
  @include text-body;
  margin-bottom: 4rem;
}

.detail {
  @include foreground-primary;
  @include text-body;
  margin-bottom: 4rem;

  & > h2 {
    @include text-h6;
    margin-bottom: 0.5rem;
  }

  & ul {
    list-style-position: inside;
    margin: 0;
    padding-left: 0.5rem;
  }
}
