@import "../styles/common";

.title {
    @include text-h1;
    margin-bottom: 2.5rem;
}

.entry {
    margin-bottom: 1.5rem;
    & > a {
        @include text-h2;
        text-decoration: none;
    }
    & > p {
        @include text-body2;
        @include foreground-tertiary;
    }
    & > p > a {
        margin-right: 0.25rem;
        text-decoration: none;
    }
}
