@use "../../styles/common";

.article {
  & > header > h1 {
    @include common.text-h1;
  }

  & > header > p {
    @include common.text-body;
    @include common.foreground-secondary;
    margin-bottom: 2.5rem;

    & a {
      margin-right: 0.375rem;
      text-decoration: none;
    }
  }

  & > footer {
    margin-top: 3.5rem;

    :global(.utterances) {
      max-width: 100%;
    }
  }
}
