@use "../../styles/common";

.title {
  @include common.text-h1;
}

.meta {
  @include common.text-body;
  @include common.foreground-secondary;
  margin-bottom: 2.5rem;
  & .tag {
    margin-right: 0.375rem;
    text-decoration: none;
    @include common.hash-tag;
  }
}

.footer {
  margin-top: 2.5rem;
}
