---
import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Tag from "./Tag.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const [_lang, ...id] = post.id.split("/");
const url = getRelativeLocaleUrl(Astro.currentLocale!, `posts/${id.join("/")}`);
---

<article>
  <h2>
    <a href={url}>{post.data.title}</a>
  </h2>
  <p>
    <time>{post.data.date}</time>
    -
    {post.data.tags.map((tag) => <Tag tag={tag} />)}
  </p>
</article>

<style lang="scss">
  p {
    color: var(--fg2);
  }

  h2 a {
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
</style>
