---
import { getRelativeLocaleUrl } from 'astro:i18n';

type Props = {
  tag: string;
};

function getRelativeCurrentLocaleUrl(path?: string): string {
  return getRelativeLocaleUrl(Astro.currentLocale!, path)
}

const { tag } = Astro.props;
const url = getRelativeCurrentLocaleUrl(`tags/${tag}`);
---

<a href={url}>
  {tag}
</a>

<style lang="scss">
  a {
    &::before {
      content: "#";
      margin-right: -0.25rem;
    }
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
</style>
