---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<a href={`/tags/${tag}`}>
  {tag}
</a>

<style lang="scss">
  a {
    &::before {
      content: "#";
      margin-right: -0.25rem;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline 2px;
    }
  }
</style>
