---
type Props = {
  tag: string;
};

const { tag } = Astro.props;
---

<a href={`/tags/${tag}`}>
  {tag}
</a>

<style lang="scss">
  a {
    &::before {
      content: "#";
      margin-right: -0.25rem;
    }
    color: inherit;
    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
</style>
