@use "../../styles/common";

.entry {
  a {
    text-decoration: none;
  }

  & .thumbnail {
    @include common.box-shadow;
    margin: 0 auto 1rem auto;
  }

  & > h3 {
    @include common.text-h6;
    margin-bottom: 0.25rem;
  }

  & > p {
    @include common.text-body2;
    @include common.foreground-secondary;
    @include common.sm-and-down {
      display: none;
    }
  }
}
