@use "../../styles/breakpoints" as bp;
@use "../../styles/typography" as typ;

.work_list {
  & > h1 {
    @include typ.h2;
    margin-bottom: 2.5rem;
    @include bp.md-and-down {
      margin-bottom: 1.25rem;
    }
  }

  & > ul {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    @include bp.sm-and-down {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0;
  }
}
