@use "../../styles/typography" as typ;
@use "../../styles/colors";

.entry {
  a {
    text-decoration: none;
  }

  & > h3 {
    @include typ.h4;
  }

  & > p {
    @include typ.body2;
    color: colors.$ui2;
  }

  & > p > a {
    margin-right: 0.375rem;
  }
}
