@use "../../styles/common";

.post_list {
  & > h1 {
    @include common.text-h1;
    margin-bottom: 2.5rem;
    @include common.md-and-down {
      margin-bottom: 1.25rem;
    }
  }

  & > ul {
    margin: 0 0 3rem 0;
    list-style: none;
    padding: 0;
  }
}
