@use "../../styles/common";

.entry_item {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  & a {
    text-decoration: none;
  }
  & .entry_item_title {
    @include common.text-h4;
  }
  & .entry_item_meta {
    @include common.text-body2;
    @include common.foreground-secondary;
  }
  & .entry_item_tag {
    margin-right: 0.375rem;
    @include common.hash-tag;
  }
}
