@use "../../styles/common";

.title {
  @include common.text-h1;
  @include common.hash-tag;
  margin-bottom: 2.5rem;
  @include common.md-and-down {
    margin-bottom: 1.25rem;
  }
}

.post_list {
  margin-bottom: 3rem;
}
